designs/server/services/preauthservice.json
[
    {
        "id": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "type": "tab",
        "createdDate": "2026-05-25T07:31:22.655Z",
        "label": "preauthservice",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "preauthservice",
        "relativeParentPath": ""
    },
    {
        "id": "sd_JNBcVR3MqwDFZi15",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "start",
        "name": "Procedure-Catalog",
        "path": "/procedureCatalog",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [
                {
                    "key": "body",
                    "desc": "body",
                    "type": "body",
                    "required": false,
                    "rowId": "sd_Y8BJCqlGeR9qTWoV",
                    "valid": true
                }
            ],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 200,
        "wires": [
            [
                "sd_VDX1YTZ6IrVXB8z9"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "preauthservice",
        "functionName": "sd_JNBcVR3MqwDFZi15"
    },
    {
        "id": "sd_VDX1YTZ6IrVXB8z9",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.payload={\n  \"pageNumber\": 0,\n  \"pageSize\": 10,\n  \"multiplicity\": \"multiple\",\n  \"filter\": {\n  },\n  \"select\": [\n    \n  ],\n  \"distinct\": [\n    \n  ]\n}\n",
        "functionName": "sd_VDX1YTZ6IrVXB8z9",
        "category": "Function",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "sd_YuGNrcoyF8uQsvny"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_YuGNrcoyF8uQsvny",
        "type": "ServerHttpRequest",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "\"https://reels-pt.neutrinos-apps.com/integration/api/records/filter/72b58c39-817f-4204-95dc-4f5eec8fd929/b14567c9-fd08-4d5a-bdeb-b5eab60fc62e/d7bba799-1913-4eef-9696-4ec21a4daa8b\"",
        "urlMappingObj": {
            "mapVarType": "str",
            "mapVarValue": "https://reels-pt.neutrinos-apps.com/integration/api/records/filter/72b58c39-817f-4204-95dc-4f5eec8fd929/b14567c9-fd08-4d5a-bdeb-b5eab60fc62e/d7bba799-1913-4eef-9696-4ec21a4daa8b"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "reqBody": "bh.local.payload",
        "reqBodyObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "payload"
        },
        "resultMapping": "bh.local.result",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "result"
        },
        "headers": {
            "token": "dff7ae6b-69ac-4be8-995c-a816ff8e0f88.9b057d1b88739e2c0a5c015686fa6b15e800f7c48c79eab906487bfd960d9762",
            "Content-Type": "application/json",
            "accept": "application/json"
        },
        "headersObj": [
            {
                "key": "token",
                "defaultValue": "dff7ae6b-69ac-4be8-995c-a816ff8e0f88.9b057d1b88739e2c0a5c015686fa6b15e800f7c48c79eab906487bfd960d9762"
            },
            {
                "key": "Content-Type",
                "defaultValue": "application/json"
            },
            {
                "key": "accept",
                "defaultValue": "application/json"
            }
        ],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "authType": "",
        "useAuthTypeMappingObj": {},
        "useAuthTypeMap": {},
        "useAuthType": "",
        "useAuthUsername": "",
        "useAuthUsernameMappingObj": "",
        "useAuthPassword": "",
        "useAuthPasswordMappingObj": "",
        "useAuthToken": "",
        "useAuthTokenMappingObj": "",
        "useQueryString": false,
        "tls": "",
        "followRedirect": true,
        "paytoqs": false,
        "useAuthentication": false,
        "rejectUnauthorized": false,
        "proxy": "",
        "useProxy": false,
        "usetls": false,
        "cookies": [],
        "cookiesMapObj": {},
        "cookiesList": {},
        "switchStates": {
            "cookies": "Map"
        },
        "editableListData": {},
        "timeout": {
            "type": "num",
            "value": ""
        },
        "functionName": "sd_YuGNrcoyF8uQsvny",
        "category": "HTTP",
        "x": 365,
        "y": 200,
        "wires": [
            [
                "sd_6fn5YN8bkpBPcfyC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_6fn5YN8bkpBPcfyC",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "result.payload.records",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.result.payload.records",
            "send": "bh.local.result.payload.records"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_6fn5YN8bkpBPcfyC",
        "category": "HTTP",
        "x": 565,
        "y": 200,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_wHOXiUGPiizrDEIz",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "start",
        "name": "RoomRentCap",
        "path": "/roomcap",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [
                {
                    "key": "body",
                    "desc": "body",
                    "type": "body",
                    "required": false,
                    "rowId": "sd_U4rOEvKwSyKlgAaG",
                    "valid": true
                }
            ],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 360,
        "wires": [
            [
                "sd_rynfhJd4OElBMgE8"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "preauthservice",
        "functionName": "sd_wHOXiUGPiizrDEIz"
    },
    {
        "id": "sd_rynfhJd4OElBMgE8",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.payload={\n  \"pageNumber\": 0,\n  \"pageSize\": 10,\n  \"multiplicity\": \"multiple\",\n  \"filter\": {\n  },\n  \"select\": [\n    \n  ],\n  \"distinct\": [\n    \n  ]\n}\n ",
        "functionName": "sd_rynfhJd4OElBMgE8",
        "category": "Function",
        "x": 225,
        "y": 360,
        "wires": [
            [
                "sd_EhXSJcka9rIUWnxt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_EhXSJcka9rIUWnxt",
        "type": "ServerHttpRequest",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "\"https://reels-pt.neutrinos-apps.com/integration/api/records/filter/72b58c39-817f-4204-95dc-4f5eec8fd929/5cbbfa77-6882-4944-940b-de87a8edd576/d9e21782-e593-4469-8da4-63e1ac0ffb5d\"",
        "urlMappingObj": {
            "mapVarType": "str",
            "mapVarValue": "https://reels-pt.neutrinos-apps.com/integration/api/records/filter/72b58c39-817f-4204-95dc-4f5eec8fd929/5cbbfa77-6882-4944-940b-de87a8edd576/d9e21782-e593-4469-8da4-63e1ac0ffb5d"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "reqBody": "bh.local.payload",
        "reqBodyObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "payload"
        },
        "resultMapping": "bh.local.result",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "result"
        },
        "headers": {
            "token": "dff7ae6b-69ac-4be8-995c-a816ff8e0f88.9b057d1b88739e2c0a5c015686fa6b15e800f7c48c79eab906487bfd960d9762",
            "accept": "application/json",
            "Content-Type": "application/json"
        },
        "headersObj": [
            {
                "key": "token",
                "defaultValue": "dff7ae6b-69ac-4be8-995c-a816ff8e0f88.9b057d1b88739e2c0a5c015686fa6b15e800f7c48c79eab906487bfd960d9762"
            },
            {
                "key": "accept",
                "defaultValue": "application/json"
            },
            {
                "key": "Content-Type",
                "defaultValue": "application/json"
            }
        ],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "authType": "",
        "useAuthTypeMappingObj": {},
        "useAuthTypeMap": {},
        "useAuthType": "",
        "useAuthUsername": "",
        "useAuthUsernameMappingObj": "",
        "useAuthPassword": "",
        "useAuthPasswordMappingObj": "",
        "useAuthToken": "",
        "useAuthTokenMappingObj": "",
        "useQueryString": false,
        "tls": "",
        "followRedirect": true,
        "paytoqs": false,
        "useAuthentication": false,
        "rejectUnauthorized": false,
        "proxy": "",
        "useProxy": false,
        "usetls": false,
        "cookies": [],
        "cookiesMapObj": {},
        "cookiesList": {},
        "switchStates": {
            "cookies": "Map"
        },
        "editableListData": {},
        "timeout": {
            "type": "num",
            "value": ""
        },
        "functionName": "sd_EhXSJcka9rIUWnxt",
        "category": "HTTP",
        "x": 365,
        "y": 360,
        "wires": [
            [
                "sd_RWwkCRaFkbCJokvs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_RWwkCRaFkbCJokvs",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "result.payload.records",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.result.payload.records",
            "send": "bh.local.result.payload.records"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_RWwkCRaFkbCJokvs",
        "category": "HTTP",
        "x": 545,
        "y": 360,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_p5Is0ST7crp7wSk4",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "start",
        "name": "create",
        "path": "/preAuth/createe",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [
                {
                    "key": "body",
                    "desc": "preAuth creation payload",
                    "type": "body",
                    "required": false,
                    "rowId": "sd_KPS2IJrdZm6Mv0jv",
                    "valid": true
                }
            ],
            "produces": [],
            "consumes": [
                {
                    "key": "application/json",
                    "rowId": "sd_Dx7KnJ4qpqRhiy8T",
                    "valid": true
                }
            ]
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 480,
        "wires": [
            [
                "sd_P4UWAqCyGEzYjcT4"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "preauthservice",
        "functionName": "sd_p5Is0ST7crp7wSk4"
    },
    {
        "id": "sd_P4UWAqCyGEzYjcT4",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const body = bh.input.body || {};\n\nconsole.log(\"PreAuth Request Body:\", body);\n\n// Generate PreAuth ID\nconst today = new Date();\n\nconst yyyy = today.getFullYear();\nconst mm = String(today.getMonth() + 1).padStart(2, '0');\nconst dd = String(today.getDate()).padStart(2, '0');\n\nconst randomNo = Math.floor(10000 + Math.random() * 90000);\n\nconst preauthId = `PA-${yyyy}${mm}${dd}-${randomNo}`;\n\n\n// Prepare DB payload\nbh.local.preauthData = {\n\n    preauth_id: preauthId,\n\n    policy_no: body.policyNumber || \"\",\n\n    patient_name: body.patientName || \"\",\n\n    patient_age: body.patientAge || 0,\n\n    hospital_name: body.hospitalName || \"\",\n\n    diagnosis: body.diagnosis || \"\",\n\n    procedure_code: body.procedureCode || \"\",\n\n    room_category: body.roomCategory || \"\",\n\n    length_of_stay: body.lengthOfStay || 0,\n\n    requested_amount: body.requestedAmount || 0,\n\n    estimated_payable: null,\n\n    final_payable: null,\n\n    mo_remarks: null,\n\n    authorizer_remarks: null,\n\n    status: \"SUBMITTED\",\n\n    approval_number: null\n};\n\nconsole.log(\"Prepared PreAuth Data:\", bh.local.preauthData);\n\n",
        "functionName": "sd_P4UWAqCyGEzYjcT4",
        "category": "Function",
        "x": 205,
        "y": 480,
        "wires": [
            [
                "sd_6Fb6fuXjNbv0LqEW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_6Fb6fuXjNbv0LqEW",
        "type": "insert",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "flow",
        "name": "insertData",
        "erd": "_DM_6fii80bkk",
        "entityId": "_EN_lfgkiu8oko",
        "_UI_entityName": "preauth_requests",
        "dbConfigId": "sd_dm4nlxZgQKbuz5SV",
        "insertObject": "bh.local.preauthData",
        "resultMapping": "bh.local.result",
        "functionName": "insertData",
        "category": "Data Model",
        "x": 305,
        "y": 480,
        "wires": [
            [
                "sd_VO0BuInnxhHr5QlC"
            ]
        ],
        "__ssdTypeInputs__": {
            "insertObject": {
                "type": "bh.local",
                "value": "preauthData",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_VO0BuInnxhHr5QlC",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "flow",
        "name": "response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "preauthData",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.preauthData",
            "send": "bh.local.preauthData"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "_DM_6fii80bkk",
        "entity": "preauth_requests",
        "entityId": "_EN_lfgkiu8oko",
        "ref": "#/definitions/users ~ preauth_requests",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "response",
        "category": "HTTP",
        "x": 445,
        "y": 480,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_Hkkw8m4LuTIFR3tM",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "start",
        "name": "mo-action ",
        "path": "/preauth/mo-action",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [
                {
                    "key": "id",
                    "desc": "preAuthId",
                    "type": "body",
                    "required": true,
                    "rowId": "sd_hRG6Db4zzlwuHbJ5",
                    "valid": true
                },
                {
                    "key": "action",
                    "desc": "action",
                    "type": "body",
                    "required": true,
                    "rowId": "sd_knLru4nGVOAtzvmV",
                    "valid": true
                },
                {
                    "key": "remark",
                    "desc": "remark",
                    "type": "body",
                    "required": false,
                    "rowId": "sd_7wI8sYTOWzkygTl3",
                    "valid": true
                }
            ],
            "produces": [],
            "consumes": [
                {
                    "key": "application/json",
                    "rowId": "sd_rZlr9mhutiCkIDFH",
                    "valid": true
                }
            ]
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 60,
        "y": 920,
        "wires": [
            [
                "sd_DhFqLeMASoCRiKXF"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "preauthservice",
        "functionName": "sd_Hkkw8m4LuTIFR3tM"
    },
    {
        "id": "sd_DhFqLeMASoCRiKXF",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const body = bh.input.body || {};\n\nconst preauthId = body.id;\n\nconsole.log(\n    \"MO Action Request:\",\n    body\n);\n\nconsole.log(\n    \"PreAuth ID:\",preauthId\n);\n\n\n// Validate action\nif (\n    !body.action\n) {\n\n    bh.local.response = {\n        message: \"Action is required\"\n    };\n\n    return;\n}\n\n\n// Validate remark\nif (\n    !body.remark\n) {\n\n    bh.local.response = {\n        message: \"Remark is required\"\n    };\n\n    return;\n}\n\n\n// Prepare update object\nbh.local.moActionData = {\n\n    preauth_id: preauthId,\n\n    mo_remarks: body.remark\n};\n\n\n// APPROVE FLOW\nif (\n    body.action === \"APPROVE\"\n) {\n\n    bh.local.moActionData.status = \"APPROVED\";\n\n    bh.local.response = {\n\n        message: \"MO Approved Successfully\",\n\n        preauth_id: preauthId,\n\n        status: \"APPROVED\"\n    };\n}\n\n//AUTHORIZER Flow\nif (\n    body.action === \"AUTHORIZER\"\n) {\n\n    bh.local.moActionData.status = \"AUTHORIZER\";\n\n    bh.local.response = {\n\n        message: \"MO Approved Successfully\",\n\n        preauth_id: preauthId,\n\n        status: \"AUTHORIZER\"\n    };\n}\n\n// REJECT FLOW\nif (\n    body.action === \"REJECT\"\n) {\n\n    bh.local.moActionData.status =\n        \"REJECTED\";\n\n    bh.local.response = {\n\n        message:\n            \"MO Rejected PreAuth\",\n\n        preauth_id: preauthId,\n\n        status: \"REJECTED\"\n    };\n}\n\n\nconsole.log(\n    \"Prepared MO Action Data:\",\n    bh.local.moActionData\n);\n\nconsole.log(\n    \"Updating PreAuth Request...\"\n);\n\n\n// Execute update query payload\nbh.local.updatePreAuthPayload = {\n\n    preauth_id:\n        bh.local.moActionData.preauth_id,\n\n    mo_remarks:\n        bh.local.moActionData.mo_remarks,\n\n    status:\n        bh.local.moActionData.status\n};\n \n\nconsole.log(\n    \"Update Payload:\",\n    bh.local.updatePreAuthPayload\n);",
        "functionName": "sd_DhFqLeMASoCRiKXF",
        "category": "Function",
        "x": 165,
        "y": 920,
        "wires": [
            [
                "sd_m6RImHPV5PNzHM7Y"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_m6RImHPV5PNzHM7Y",
        "type": "update",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "erd": "_DM_6fii80bkk",
        "entityId": "_EN_lfgkiu8oko",
        "_UI_entityName": "preauth_requests",
        "dbConfigId": "sd_dm4nlxZgQKbuz5SV",
        "operationType": "updateByID",
        "filterBy": "",
        "updateObject": "bh.local.updatePreAuthPayload",
        "resultMapping": "bh.model.result",
        "functionName": "sd_m6RImHPV5PNzHM7Y",
        "category": "Data Model",
        "x": 280,
        "y": 920,
        "wires": [
            [
                "sd_UItP46zvZCrljVab"
            ]
        ],
        "__ssdTypeInputs__": {
            "filterBy": {
                "type": "bh.input",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            },
            "updateObject": {
                "type": "bh.local",
                "value": "updatePreAuthPayload",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.model",
                "value": "result",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {
            "filterBy": true
        },
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_UItP46zvZCrljVab",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "updatePreAuthPayload",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.updatePreAuthPayload",
            "send": "bh.local.updatePreAuthPayload"
        },
        "dataModelIsArray": false,
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_UItP46zvZCrljVab",
        "category": "HTTP",
        "x": 420,
        "y": 920,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_jNs49iM7nLgtzPLM",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const body = bh.input.body || {};\n\nconst preauthId = body.id;\n\n\n// Validation\nif (!body.action) {\n\n    bh.local.response = {\n        message: \"Action is required\"\n    };\n\n    return;\n}\n\n\nif (!body.remark) {\n\n    bh.local.response = {\n        message: \"Remark is required\"\n    };\n\n    return;\n}\n\n\n// Generate Approval Number\nconst today = new Date();\n\nconst yyyy =\n    today.getFullYear();\n\nconst randomNo =\n    Math.floor(\n        10000 + Math.random() * 90000\n    );\n\nconst approvalNumber =\n    `APR-${yyyy}-${randomNo}`;\n\n\n\n// Prepare Payload\nbh.local.updatePayload = {\n\n    preauth_id:\n        preauthId,\n\n    final_payable:\n        body.final_payable || 0,\n\n    authorizer_remarks:\n        body.remark,\n\n    updated_at:\n        new Date()\n};\n\n\n// APPROVE FLOW\nif (\n    body.action === \"APPROVE\"\n) {\n\n    bh.local.updatePayload.status =\n        \"APPROVED\";\n\n    bh.local.updatePayload.approval_number =\n        approvalNumber;\n\n    bh.local.response = {\n\n        message:\n            \"PreAuth Approved Successfully\",\n\n        preauth_id:\n            preauthId,\n\n        approval_number:\n            approvalNumber,\n\n        status:\n            \"APPROVED\"\n    };\n}\n\n\n// REJECT FLOW\nif (\n    body.action === \"REJECT\"\n) {\n\n    bh.local.updatePayload.status =\n        \"REJECTED\";\n\n    bh.local.updatePayload.approval_number =\n        null;\n\n    bh.local.response = {\n\n        message:\n            \"PreAuth Rejected\",\n\n        preauth_id:\n            preauthId,\n\n        status:\n            \"REJECTED\"\n    };\n}",
        "functionName": "sd_jNs49iM7nLgtzPLM",
        "category": "Function",
        "x": 225,
        "y": 1080,
        "wires": [
            [
                "sd_vFCGD772TAuKoWWr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_t2ahChuBqMNlDTWz",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.result",
            "send": "bh.local.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_t2ahChuBqMNlDTWz",
        "category": "HTTP",
        "x": 425,
        "y": 1080,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_UwDd5vjqXPRFoCr2",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "start",
        "name": "authorizer-action",
        "path": "preauth/authorizer-action",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [
                {
                    "key": "id",
                    "desc": "preAuthId",
                    "type": "body",
                    "required": true,
                    "rowId": "sd_nH9bED6Q8uHU7TyZ",
                    "valid": true
                },
                {
                    "key": "action",
                    "desc": "action",
                    "type": "body",
                    "required": true,
                    "rowId": "sd_WeoKcbco2AvlpZ4p",
                    "valid": true
                },
                {
                    "key": "final_payable",
                    "desc": "final_payable",
                    "type": "body",
                    "required": true,
                    "rowId": "sd_stn37DIFsPHFPOIm",
                    "valid": true
                },
                {
                    "key": "remark",
                    "desc": "remark",
                    "type": "body",
                    "required": false,
                    "rowId": "sd_B8RWMvdgGpk3PVHw",
                    "valid": true
                }
            ],
            "produces": [],
            "consumes": [
                {
                    "key": "application/json",
                    "rowId": "sd_INYpd4nESVyldltZ",
                    "valid": true
                }
            ]
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 1080,
        "wires": [
            [
                "sd_jNs49iM7nLgtzPLM"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "preauthservice",
        "functionName": "sd_UwDd5vjqXPRFoCr2"
    },
    {
        "id": "sd_vFCGD772TAuKoWWr",
        "type": "update",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "erd": "_DM_6fii80bkk",
        "entityId": "_EN_lfgkiu8oko",
        "_UI_entityName": "preauth_requests",
        "dbConfigId": "sd_dm4nlxZgQKbuz5SV",
        "operationType": "updateByID",
        "filterBy": "",
        "updateObject": "bh.local.updatePayload",
        "resultMapping": "bh.local.result",
        "functionName": "sd_vFCGD772TAuKoWWr",
        "category": "Data Model",
        "x": 325,
        "y": 1080,
        "wires": [
            [
                "sd_t2ahChuBqMNlDTWz"
            ]
        ],
        "__ssdTypeInputs__": {
            "filterBy": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            },
            "updateObject": {
                "type": "bh.local",
                "value": "updatePayload",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {
            "filterBy": true
        },
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_O53N10mYmijIbEIJ",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "start",
        "name": "ReviewDecision",
        "path": "/reviewDecision",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [
                {
                    "key": "PatientAge",
                    "desc": "PatientAge",
                    "type": "body",
                    "required": true,
                    "rowId": "sd_f00QdXxekimtBcXY",
                    "valid": true
                },
                {
                    "key": "RequestedAmount",
                    "desc": "RequestedAmount",
                    "type": "body",
                    "required": true,
                    "rowId": "sd_KyNeWUTIEew71O4y",
                    "valid": true
                }
            ],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 1440,
        "wires": [
            [
                "sd_yvwJPyHcIYhB33X8"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "preauthservice",
        "functionName": "sd_O53N10mYmijIbEIJ"
    },
    {
        "id": "sd_yvwJPyHcIYhB33X8",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const body = bh.input.body || {};\n\nconsole.log(\"Routing Request:\", body);\n\nbh.local.payload = {\n\n    ruleGroupId:\n        \"a7a6deef-b744-406a-a5ec-2f0bfda3bff5\",\n\n    version: \"1.0.0\",\n\n    inputObj: {\n\n        PatientAge:\n            body.PatientAge,\n\n        RequestedAmount:\n            body.RequestedAmount\n    }\n};\n\nconsole.log(\n    \"Prepared Payload:\",\n    bh.local.payload\n);",
        "functionName": "sd_yvwJPyHcIYhB33X8",
        "category": "Function",
        "x": 205,
        "y": 1440,
        "wires": [
            [
                "sd_pJTu1ONVAdvwB6V9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_pJTu1ONVAdvwB6V9",
        "type": "ServerHttpRequest",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "\"https://reels-pt.neutrinos-apps.com/integration/api/runtime/sync\"",
        "urlMappingObj": {
            "mapVarType": "str",
            "mapVarValue": "https://reels-pt.neutrinos-apps.com/integration/api/runtime/sync"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "reqBody": "bh.local.payload",
        "reqBodyObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "payload"
        },
        "resultMapping": "bh.local.route",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "route"
        },
        "headers": {
            "accept": "application/json",
            "Content-Type": "application/json"
        },
        "headersObj": [
            {
                "key": "accept",
                "defaultValue": "application/json"
            },
            {
                "key": "Content-Type",
                "defaultValue": "application/json"
            }
        ],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "authType": "",
        "useAuthTypeMappingObj": {},
        "useAuthTypeMap": {},
        "useAuthType": "",
        "useAuthUsername": "",
        "useAuthUsernameMappingObj": "",
        "useAuthPassword": "",
        "useAuthPasswordMappingObj": "",
        "useAuthToken": "",
        "useAuthTokenMappingObj": "",
        "useQueryString": false,
        "tls": "",
        "followRedirect": true,
        "paytoqs": false,
        "useAuthentication": false,
        "rejectUnauthorized": false,
        "proxy": "",
        "useProxy": false,
        "usetls": false,
        "cookies": [],
        "cookiesMapObj": {},
        "cookiesList": {},
        "switchStates": {
            "cookies": "Map"
        },
        "editableListData": {},
        "timeout": {
            "type": "num",
            "value": ""
        },
        "functionName": "sd_pJTu1ONVAdvwB6V9",
        "category": "HTTP",
        "x": 320,
        "y": 1440,
        "wires": [
            [
                "sd_8QiqDYIHnnbbQ6Px"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_8QiqDYIHnnbbQ6Px",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "route",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.route",
            "send": "bh.local.route"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_8QiqDYIHnnbbQ6Px",
        "category": "HTTP",
        "x": 505,
        "y": 1440,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_PHnfMqXQMsCc6vVB",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "start",
        "name": "create",
        "path": "/preAuth/create",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [
                {
                    "key": "body",
                    "desc": "preAuth creation payload",
                    "type": "body",
                    "required": false,
                    "rowId": "sd_KPS2IJrdZm6Mv0jv",
                    "valid": true
                }
            ],
            "produces": [],
            "consumes": [
                {
                    "key": "application/json",
                    "rowId": "sd_Dx7KnJ4qpqRhiy8T",
                    "valid": true
                }
            ]
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 25,
        "y": 600,
        "wires": [
            [
                "sd_RZRnDPeqTdBVRJeF"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "preauthservice",
        "functionName": "sd_PHnfMqXQMsCc6vVB"
    },
    {
        "id": "sd_RZRnDPeqTdBVRJeF",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const body = bh.input.body || {};\n\nconsole.log(\"PreAuth Request Body:\", body);\n\n// Generate PreAuth ID\nconst today = new Date();\n\nconst yyyy = today.getFullYear();\nconst mm = String(today.getMonth() + 1).padStart(2, '0');\nconst dd = String(today.getDate()).padStart(2, '0');\n\nconst randomNo = Math.floor(10000 + Math.random() * 90000);\n\nconst preauthId = `PA-${yyyy}${mm}${dd}-${randomNo}`;\n\n\n// Prepare DB payload\nbh.local.preauthData = {\n\n    preauth_id: preauthId,\n\n    policy_no: body.policyNumber || \"\",\n\n    patient_name: body.patientName || \"\",\n\n    patient_age: body.patientAge || 0,\n\n    hospital_name: body.hospitalName || \"\",\n\n    diagnosis: body.diagnosis || \"\",\n\n    procedure_code: body.procedureCode || \"\",\n\n    room_category: body.roomCategory || \"\",\n\n    length_of_stay: body.lengthOfStay || 0,\n\n    requested_amount: body.requestedAmount || 0,\n\n    estimated_payable: null,\n\n    final_payable: null,\n\n    mo_remarks: null,\n\n    authorizer_remarks: null,\n\n    status: \"SUBMITTED\",\n\n    approval_number: null\n};\n\nconsole.log(\"Prepared PreAuth Data:\", bh.local.preauthData);\n\n",
        "functionName": "sd_RZRnDPeqTdBVRJeF",
        "category": "Function",
        "x": 105,
        "y": 600,
        "wires": [
            [
                "sd_FTLixoUWf573pzpf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_FTLixoUWf573pzpf",
        "type": "insert",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "flow",
        "name": "insertData2",
        "erd": "_DM_6fii80bkk",
        "entityId": "_EN_lfgkiu8oko",
        "_UI_entityName": "preauth_requests",
        "dbConfigId": "sd_dm4nlxZgQKbuz5SV",
        "insertObject": "bh.local.preauthData",
        "resultMapping": "bh.local.result",
        "functionName": "insertData2",
        "category": "Data Model",
        "x": 185,
        "y": 600,
        "wires": [
            [
                "sd_WMAt3xXo0fdSo32o"
            ]
        ],
        "__ssdTypeInputs__": {
            "insertObject": {
                "type": "bh.local",
                "value": "preauthData",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_WMAt3xXo0fdSo32o",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Alpha payload ",
        "script": "bh.local.alphaPayload = {\n    caseType: \"PreAuthPOC\",\n    caseData: {\n    preauth_id: bh.local.preauthData.preauth_id,\n    policy_no: bh.local.preauthData.policy_no,\n    patient_name: bh.local.preauthData.patient_name,\n    patient_age: bh.local.preauthData.patient_age,\n    hospital_name: bh.local.preauthData.hospital_name,\n    diagnosis: bh.local.preauthData.diagnosis,\n    procedure_code: bh.local.preauthData.procedure_code,\n    room_category: bh.local.preauthData.room_category,\n    length_of_stay: bh.local.preauthData.length_of_stay,\n    requested_amount: bh.local.preauthData.requested_amount,\n    estimated_payable: null,\n    final_payable: null,\n    mo_remarks: null,\n    authorizer_remarks: null,\n    status: \"SUBMITTED\",\n    approval_number: null\n    }\n};\nbh.local.tokenpayload={\n    \"client_secret\":\"e28WZR6ZKyrYILTSKKClFEwNlYoGR2cvISwFCoIXP4S7DJgsaqhHRSNqpoWgYbcx_DUlrSkoA1zS5uFOzP-J9C\",\n    \"client_id\":\"0ddh_euTKkSA682Yy5HuC\",\n    \"grant_type\":\"client_credentials\"\n}\nconsole.log(\"Alpha payload:\", bh.local.alphaPayload);",
        "functionName": "alphaPayload",
        "category": "Function",
        "x": 265,
        "y": 600,
        "wires": [
            [
                "sd_Y9ekGhx3YCFekhoo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_Y9ekGhx3YCFekhoo",
        "type": "ServerHttpRequest",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Token Api",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "\"https://ids-ctr-pt.neutrinos-apps.com/token\"",
        "urlMappingObj": {
            "mapVarType": "str",
            "mapVarValue": "https://ids-ctr-pt.neutrinos-apps.com/token"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "reqBody": "bh.local.tokenpayload",
        "reqBodyObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "tokenpayload"
        },
        "resultMapping": "bh.local.token",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "token"
        },
        "headers": {
            "Content-Type": "application/x-www-form-urlencoded"
        },
        "headersObj": [
            {
                "key": "Content-Type",
                "defaultValue": "application/x-www-form-urlencoded"
            }
        ],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "authType": "",
        "useAuthTypeMappingObj": {},
        "useAuthTypeMap": {},
        "useAuthType": "",
        "useAuthUsername": "",
        "useAuthUsernameMappingObj": "",
        "useAuthPassword": "",
        "useAuthPasswordMappingObj": "",
        "useAuthToken": "",
        "useAuthTokenMappingObj": "",
        "useQueryString": false,
        "tls": "",
        "followRedirect": true,
        "paytoqs": false,
        "useAuthentication": false,
        "rejectUnauthorized": false,
        "proxy": "",
        "useProxy": false,
        "usetls": false,
        "cookies": [],
        "cookiesMapObj": {},
        "cookiesList": {},
        "switchStates": {
            "cookies": "Map"
        },
        "editableListData": {},
        "timeout": {
            "type": "num",
            "value": ""
        },
        "functionName": "tokenApi",
        "category": "HTTP",
        "x": 345,
        "y": 600,
        "wires": [
            [
                "sd_YF6s4D5SjNms6IaC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_YF6s4D5SjNms6IaC",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Token",
        "script": "console.log(\":::::::::token::::::::\",bh.local.token)\nbh.local.authHeader = bh.local.token.payload.access_token\nconsole.log(\":::::::::token11::::::::\",bh.local.authHeader)\n",
        "functionName": "token",
        "category": "Function",
        "x": 425,
        "y": 600,
        "wires": [
            [
                "sd_w3eVrVkkpXKt2w8t"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_w3eVrVkkpXKt2w8t",
        "type": "ServerHttpRequest",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Case creation",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "\"https://alpha-pt.neutrinos-apps.com/caseservice/case/instance/create\"",
        "urlMappingObj": {
            "mapVarType": "str",
            "mapVarValue": "https://alpha-pt.neutrinos-apps.com/caseservice/case/instance/create"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "reqBody": "bh.local.alphaPayload",
        "reqBodyObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "alphaPayload"
        },
        "resultMapping": "bh.local.alpharesponse",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "alpharesponse"
        },
        "headers": {
            "accept": "application/json",
            "Content-Type": "application/json"
        },
        "headersObj": [
            {
                "key": "accept",
                "defaultValue": "application/json"
            },
            {
                "key": "Content-Type",
                "defaultValue": "application/json"
            }
        ],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "authType": "bearer",
        "useAuthTypeMappingObj": {},
        "useAuthTypeMap": {},
        "useAuthType": "",
        "useAuthUsername": "",
        "useAuthUsernameMappingObj": {},
        "useAuthPassword": "",
        "useAuthPasswordMappingObj": {},
        "useAuthToken": "bh.local.authHeader",
        "useAuthTokenMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "authHeader"
        },
        "useQueryString": false,
        "tls": "",
        "followRedirect": true,
        "paytoqs": false,
        "useAuthentication": true,
        "rejectUnauthorized": false,
        "proxy": "",
        "useProxy": false,
        "usetls": false,
        "cookies": [],
        "cookiesMapObj": {},
        "cookiesList": {},
        "switchStates": {
            "cookies": "Map"
        },
        "editableListData": {},
        "timeout": {
            "type": "num",
            "value": ""
        },
        "functionName": "caseCreation",
        "category": "HTTP",
        "x": 505,
        "y": 600,
        "wires": [
            [
                "sd_IqCGG9VQ5T5lGrsS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_IqCGG9VQ5T5lGrsS",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.local.allresponse = {\n \"ticket\" : bh.local.response,\n \"case-creation\":bh.local.alpharesponse,\n \"result\": bh.local.result\n//  \"auto-assign\":bh.local.result\n}",
        "functionName": "sd_IqCGG9VQ5T5lGrsS",
        "category": "Function",
        "x": 585,
        "y": 600,
        "wires": [
            [
                "sd_48Qnc9trLiAKUUxc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_48Qnc9trLiAKUUxc",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "allresponse",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.allresponse",
            "send": "bh.local.allresponse"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_48Qnc9trLiAKUUxc",
        "category": "HTTP",
        "x": 665,
        "y": 600,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_L4lYLny3qAgBFZ94",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "start",
        "name": "ReelWorkflow",
        "path": "/estimatedPayableWorkflow",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [
                {
                    "key": "body",
                    "desc": "payload for reel api",
                    "type": "body",
                    "required": false,
                    "rowId": "sd_LmXcSr51V0djmaoz",
                    "valid": true
                }
            ],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 1260,
        "wires": [
            [
                "sd_QiakUixTiKg1F25o"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "preauthservice",
        "functionName": "sd_L4lYLny3qAgBFZ94"
    },
    {
        "id": "sd_QiakUixTiKg1F25o",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const body = bh.input.body || {};\n \n// console.log(\"Runtime Request:\", body);\n \n \n// Validate input object\nif (!body.inputObj) {\n \n    bh.local.response = {\n        message: \"inputObj is required\"\n    };\n \n    return;\n}\n \n \n// Hardcoded payload\nbh.local.payload = {\n \n    workflowId:\n        \"df8503db-4d70-4754-b645-49939fe38c00\",\n \n    version: \"1.0.0\",\n \n    inputObj: {\n \n         preauth_id:\n            body.inputObj.preauth_id,\n            \n        sumInsured:\n            body.inputObj.sumInsured,\n \n        RoomCategory:\n            body.inputObj.RoomCategory,\n \n        ProcedureCode:\n            body.inputObj.ProcedureCode,\n \n        requestedAmount:\n            body.inputObj.requestedAmount,\n \n        lengthOfStayDays:\n            body.inputObj.lengthOfStayDays,\n\n        PatientAge:body.inputObj.PatientAge\n    }\n};\n \n \n// console.log(\n//     \"Prepared Payload:\",\n//     bh.local.payload\n// );\n \n\n \n\n ",
        "functionName": "sd_QiakUixTiKg1F25o",
        "category": "Function",
        "x": 185,
        "y": 1260,
        "wires": [
            [
                "sd_33o1v1r4aAbBT3EH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_33o1v1r4aAbBT3EH",
        "type": "ServerHttpRequest",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "\"https://reels-pt.neutrinos-apps.com/integration/api/runtime/sync\"",
        "urlMappingObj": {
            "mapVarType": "str",
            "mapVarValue": "https://reels-pt.neutrinos-apps.com/integration/api/runtime/sync"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "reqBody": "bh.local.payload",
        "reqBodyObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "payload"
        },
        "resultMapping": "bh.local.result",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "result"
        },
        "headers": {
            "accept": "application/json",
            "Content-Type": "application/json",
            "token": "dff7ae6b-69ac-4be8-995c-a816ff8e0f88.9b057d1b88739e2c0a5c015686fa6b15e800f7c48c79eab906487bfd960d9762"
        },
        "headersObj": [
            {
                "key": "accept",
                "defaultValue": "application/json"
            },
            {
                "key": "Content-Type",
                "defaultValue": "application/json"
            },
            {
                "key": "token",
                "defaultValue": "dff7ae6b-69ac-4be8-995c-a816ff8e0f88.9b057d1b88739e2c0a5c015686fa6b15e800f7c48c79eab906487bfd960d9762"
            }
        ],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "authType": "",
        "useAuthTypeMappingObj": {},
        "useAuthTypeMap": {},
        "useAuthType": "",
        "useAuthUsername": "",
        "useAuthUsernameMappingObj": "",
        "useAuthPassword": "",
        "useAuthPasswordMappingObj": "",
        "useAuthToken": "",
        "useAuthTokenMappingObj": "",
        "useQueryString": false,
        "tls": "",
        "followRedirect": true,
        "paytoqs": false,
        "useAuthentication": false,
        "rejectUnauthorized": false,
        "proxy": "",
        "useProxy": false,
        "usetls": false,
        "cookies": [],
        "cookiesMapObj": {},
        "cookiesList": {},
        "switchStates": {
            "cookies": "Map"
        },
        "editableListData": {},
        "timeout": {
            "type": "num",
            "value": ""
        },
        "functionName": "sd_33o1v1r4aAbBT3EH",
        "category": "HTTP",
        "x": 325,
        "y": 1260,
        "wires": [
            [
                "sd_fghQIYyafpll1MfN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_wDUYBQz6u2X0ZkyC",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "tableresult",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.tableresult",
            "send": "bh.local.tableresult"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_wDUYBQz6u2X0ZkyC",
        "category": "HTTP",
        "x": 625,
        "y": 1260,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_fghQIYyafpll1MfN",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// console.log(\n//     \"Runtime API Response:\",\n//     bh.local.result\n// );\n\n// Extract preauth id\nconst preauthId =\n    bh.input.body.inputObj.preauth_id;\n\n// Extract estimated payable\nconst estimatedPayable =\n    bh.local.result.payload.result.estimatedPayable;\n\n// Map Route → Status\nconst route =bh.local.result.payload.result.Route;\nlet status = \"SUBMITTED\";\n\nif (route === \"AUTO_APPROVE\") {\n    status = \"APPROVED\";\n}\nelse if (route === \"MO_REVIEW\") {\n    status = \"MO_REVIEW\";\n}\nelse if (route === \"MO_REVIEW+AUTHORIZER\") {\n    status = \"\";\n}\n\n\n// Prepare UPDATE payload\nbh.local.updatePayload = {\n\n    preauth_id: preauthId,\n\n    estimated_payable: estimatedPayable,\n\n    status: status\n};\n\n\nconsole.log(\n    \"Prepared Update Payload:\",\n    bh.local.updatePayload\n);",
        "functionName": "sd_fghQIYyafpll1MfN",
        "category": "Function",
        "x": 405,
        "y": 1260,
        "wires": [
            [
                "sd_VIOAkkukG9mDLqTU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    },
    {
        "id": "sd_VIOAkkukG9mDLqTU",
        "type": "update",
        "z": "SSD_SERVICE_ID_sd_mnYUKYAktKvs8A8P",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "erd": "_DM_6fii80bkk",
        "entityId": "_EN_lfgkiu8oko",
        "_UI_entityName": "preauth_requests",
        "dbConfigId": "sd_dm4nlxZgQKbuz5SV",
        "operationType": "updateByID",
        "filterBy": "",
        "updateObject": "bh.local.updatePayload",
        "resultMapping": "bh.local.tableresult",
        "functionName": "sd_VIOAkkukG9mDLqTU",
        "category": "Data Model",
        "x": 540,
        "y": 1260,
        "wires": [
            [
                "sd_wDUYBQz6u2X0ZkyC"
            ]
        ],
        "__ssdTypeInputs__": {
            "filterBy": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            },
            "updateObject": {
                "type": "bh.local",
                "value": "updatePayload",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "tableresult",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {
            "filterBy": true
        },
        "generateNext": false,
        "serviceName": "preauthservice",
        "generated": true
    }
]
